doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon", sizes="144x144", href="/images/mobile.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/images/mobile.png")
  body
    block content
