doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
