extends layout

block content
  h1.title Oops! 

  p
    | Looks like you need to add your correct variables in the URL. For help with his, check out the 
    a(href='https://github.com/twhitacre/keto-mfp/blob/master/README.md') documentation
    | .